.send_message {
    width: 100%;
    position: relative;
}

.send_message_container {
    padding: 12px;
    display: flex;
    gap: 12px;
    align-items: start;
    background-color: var(--message);
    transition: all .4s ease-in-out;
    height: 300px;
}

.send_message_container > input {
    width: 100%;
    outline: none;
    padding: 8px 12px;
    border-radius: 8px;
}

.send_message_container > button {
    border: none;
    padding: 4px 12px;
    background: transparent;
    cursor: pointer;
}

.message_card{
    display: flex;
    gap: 12px;
    align-items: flex-start;
    margin: 12px;
    cursor: pointer;
}

.message_card_profile {
    margin-top: 6px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    aspect-ratio: 1/1;
    border-radius: 999px;
    outline: .5px solid var(--outline-color);
}

.message_card_container {
    margin-top: 6px;
    display: flex;
    padding: 8px;
    flex-direction: column;
    gap: 2px;
    outline: 1px solid;
    max-width: 300px;
    height: auto;
    min-width: 70px;
}
.message_card_container > span{
    text-align: right;
    font-size: 10px;
}

.container_list_menu{
    position: absolute;
    padding: 12px;
    background-color: var(--bg-secondary-color);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
    box-shadow: 0px 4px 36px -4px rgba(0,0,0,0.2);
    min-width: 150px;
}

.container_list_menu > button {
    padding: 8px;
}

.container_list_menu > button:hover {
    text-align: left;
    border-radius: 4px;
    background-color: var(--primary-color);
    width: 100%;
}

.header_chat{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 6px 12px;
    align-items: center;
}

.header_chat_profile{
    display: flex;
    gap: 12px;
    align-items: center;
    cursor: pointer;
}
.header_chat_profile > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
}

.header_chat_profile > div > span {
    font-size: 14px;
}

.header_chat_profile > span {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    aspect-ratio: 1/1;
    border-radius: 999px;
    outline: .5px solid var(--outline-color);
}
