.contact_container{
    display: flex;
    flex-direction: column;
    background-color: var(--bg-secondary);
    max-width: 40%;
    width: 40%;
    position: relative;
}

.contact_list {
    height: 77vh;
    overflow-y: scroll;
    padding: 0 12px;
}

.contact_card{
    padding: 8px 12px;
    display: flex;
    width: auto;
    gap: 12px;
    align-items: center;
    margin: 6px;    
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 1px solid var(--icon-color);
}

.contact_card > div {
  display: flex;
  gap: 12px;
  align-items: center;  
}

.contact_card > div > span {
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    aspect-ratio: 1/1;
    border-radius: 999px;
    outline: .5px solid var(--icon-color);
    color: var(--icon-color);
}

.contact_card:hover {
    /* background-color: #c2c6cb; */
    /* border-radius: 8px; */
}

.contact_card > div > div {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.search_contact {
    width: 100%;
    padding: 12px;
}

.search_contact > input{
    width: 100%;
    outline: none;
    padding: 8px 12px;
    border-radius: 8px;
}

.add_contact_container {
    width: 200px;
    padding: 12px 32px;
    background-color: var(--secondary-color);
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
}

.add_contact_container > h3 {
    margin: 12px 0 28px;
    font-size: 22px;
    font-weight: 700;
}


.add_contact_field {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 6px 0;
    width: 100%;
}

.add_contact_field > label {
    font-size: 18px;
    text-align: left;
}

.add_contact_field > input {
    padding: 6px 12px;
    border-radius: 3px;
}

.add_contact_container > button {
    width: 100%;
    margin: 32px 0;
    padding: 8px;
    background: var(--primary-color);
    border-radius: 6px;
}

.contact_modal_header{
    display: flex;
    height: 60px;
    gap: 16px;
    padding: 0 18px;
    align-items: center;
    background: var(--primary-color);
}

.contact_modal_container {
    background: var(--primary-color);
    display: flex;
    flex-direction: column;
    height: 100%;   
    width: 100%;
}

.contact_modal_profile{
    background-color: var(--secondary-color);
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.contact_modal_profile > p {
    color: var(--outline-color)
}

.contact_modal_profile > span {
    width: 155px;
    aspect-ratio: 1/1;
    border-radius: 999px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 85px;
    margin-bottom: 12px;
    font-weight: 700;
}

.contact_modal_profile > input {
    margin-top: 12px;
    background: transparent;
    text-align: center;
    font-size: 24px;
}

.contact_modal_profile > input:focus {
    color: var(--outline-color);
}

.contact_modal_action_container {
    margin-top: 15px;
    display: flex;
    align-items: flex-start;
    gap: 12px;
    flex-direction: column;
    background-color: var(--secondary-color);
    padding: 12px;
}

.contact_modal_action{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    padding-bottom: 22px;
}

.contact_modal_action > button {
    padding: 12px 34px;
    font-size: 16px;
    text-align: left;
    border-bottom: 1px solid var(--primary-color);

}
.contact_modal_action > button:hover {
    background-color: var(--primary-color);
    border-radius: 4px;
}

.archive_container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.archive_btn{
    width: 100%;
    padding: 18px 32px;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.archive_btn:hover {
    background: var(--secondary-color);
}