.header{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 12px 18px;
    align-items: center;
    z-index: 99;
    background: var(--primary-color);
}

.header > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.header > div > button {
    position: relative;
}

.menu_list{
    width: 150px;
    height: auto;
    padding: 16px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 12px;
    position: absolute;
    top: 0px;
    right: 0;
}

.menu_list > button {
    text-align: left;
    cursor: pointer;
    padding: 4px;
}