@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --green-accent: #06cf9c;
    --text-color: #e4eef0;
    --green-primary: #005c4b;
    --green-secondary: #025244;
    --bg-primary: #202c33;
    --bg-secondary: #111b21;
    --icon-color: #aebbc2;
    --message: #202c33;
    --danger: #06cf9c;
}

::-webkit-scrollbar {
    width: 5px;
    margin: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--outline-color);
    border-radius: 999px;
}