* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color: #979ca4;
    --secondary-color: #bcc1c7;
    --thrid-color: #cbd5e1;
    --bg-primary-color: #f8fafc;
    --bg-secondary-color: #d4d4d8;
    --bg-third-color: #dcfce7;
    --font-color: #f4f4f5;
    --success-color: #4ade80;
    --error-color: #dc2626;
    --outline-color: #525252;
}

button {
    border: none;
    background: transparent;
    outline: none;
}

input {
    outline: none;
    border: 1px solid var(--outline-color);
    border: none;
}

::-webkit-scrollbar {
    width: 5px;
    margin: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--outline-color);
    border-radius: 999px;
}